.form-create-detail {
    max-width: 100rem;
    -webkit-flex: 0 0 100%;
    margin-right: auto;
    margin-left: auto;
    width: 70%;
    margin-top: 1rem;
  }
  .form-create-detail .picture {
    height: 10rem;
    display: flex;
    justify-content : center;
    margin: auto;
    width: 100%;
    border: 2px dashed rgba(0,0,0,.3);
  }
  .form-create-detail .picture .upload-photo {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    border-color: #007267; 
  }
  .form-create-detail .picture .inline-block {
    display: inline-block;
    margin: 0 1rem 0 1rem;
  }  
  .span-picture {
    margin-top: 3rem
  } 
  