<header class="h-100 app-header">
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav" [containerInside]="false">
    <logo>
      <a class="logo navbar-brand" href="#">
        <strong>Navbar</strong>
      </a>
    </logo>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active waves-light" mdbWavesEffect>
          <a class="nav-link">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav nav-flex-icons ml-auto ie-double-nav">
        <li class="nav-item waves-light" *ngIf="!isLogin">
          <a class="nav-link">Sign up</a>
        </li>
        <li class="nav-item waves-light" *ngIf="!isLogin">
          <a class="nav-link">Log in</a>
        </li>
        <li class="nav-item waves-light" *ngIf="isLogin">
          <a class="nav-link"><i class="fa fa-comments"></i></a>
        </li>
        <li class="nav-item waves-light" *ngIf="isLogin">
          <a class="nav-link"><i class="fa fa-search"></i></a>
        </li>
        <li class="nav-item dropdown btn-group" dropdown *ngIf="isLogin">
          <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <img src="https://www.drupal.org/files/issues/default-avatar.png" class="rounded-circle" alt="User avatar" width="30" height="30">
            Username 
          </a>
          <div class="dropdown-menu dropdown-primary dropdown-menu-right" role="menu">
            <a class="dropdown-item" href="#">English</a>
            <a class="dropdown-item" href="#">Vietnamese</a>
          </div>
        </li>
        <li class="nav-item waves-light">
          <button type="button" class="btn btn-outline-success" mdbWavesEffect style="margin-top: -3px;">
            List your place for free
          </button>
        </li>
        <li class="nav-item dropdown btn-group" dropdown>
          <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            EN
          </a>
          <div class="dropdown-menu dropdown-primary dropdown-menu-right" role="menu">
            <a class="dropdown-item" href="#">English</a>
            <a class="dropdown-item" href="#">Vietnamese</a>
          </div>
        </li>
      </ul>
    </links>
  </mdb-navbar>
  <!-- Main -->
  <div class="view intro-2">
    <div class="full-bg-img">
      <div class="mask rgba-purple-light flex-center">
        <div class="container text-center white-text wow fadeInUp">
          <h1 class="mt-5">Safely book your new home abroad</h1>
          <br>
          <div class="row">
            <div class="col-md-10 offset-md-2">
              <form class="form-inline md-form mr-auto mb-4">
                <input class="form-control mr-sm-2 col-md-8" type="text" placeholder="Search" aria-label="Search">
                <button class="btn aqua-gradient btn-rounded btn-sm my-0 waves-light" mdbWavesEffect type="submit">Search</button>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- /.Main -->
</header>
<!--Main Navigation-->
