<div class="login-box">

  <!-- /.login-logo -->
  <form [formGroup]="loginForm" #formDir="ngForm" (ngSubmit)="login()">
    <div class="login-box-body">
      <p class="login-box-msg">Sign in to start your session</p>
      <div class="form-group has-feedback">
        <input type="email" placeholder="Email" id="name" class="form-control"
               formControlName="name" [(ngModel)]="user.UserName" required>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div *ngIf="name.invalid && (name.dirty || name.touched)"
           class="alert alert-danger">

        <div *ngIf="name.errors.required">
          Name is required.
        </div>
      </div>

      <div class="form-group has-feedback">
        <input type="password" id="pass" class="form-control"
               formControlName="pass" [(ngModel)]="user.Password" required>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div *ngIf="pass.invalid && (pass.dirty || pass.touched)"
           class="alert alert-danger">

        <div *ngIf="pass.errors.required">
          Pass is required.
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox"> Remember Me
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat" [disabled]="loginForm.invalid">Sign In</button>
        </div>
        <!-- /.col -->
      </div>
    </div>
  </form>

  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
