.datepicker {
  .Input {
    display: block;
    position: relative;
    margin: 1.28571em 0
  }
  .Input:after {
    content: "";
    display: table;
    clear: both
  }
  .Input-field {
    display: block;
    resize: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: .0625em solid #a9afae;
    outline: none;
    background: none;
    color: #231f20;
    margin-bottom: .0625em;
    border-radius: 0;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none
  }
  .Input-field::-ms-expand {
    display: none
  }
  .Input-field--22px {
    font-size: 1.57143em !important
  }
  .Input-field--select {
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTJweCIgaGVpZ2h0PSI3cHgiIHZpZXdCb3g9IjAgMCAxMiA3IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPHBvbHlnb24gZmlsbD0iIzlFOUU5RSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNi4wMDAwMDAsIDMuNTAwMDAwKSBzY2FsZSgxLCAtMSkgdHJhbnNsYXRlKC02LjAwMDAwMCwgLTMuNTAwMDAwKSAiIHBvaW50cz0iNiAwIDEyIDcgMCA3Ij48L3BvbHlnb24+Cjwvc3ZnPg==");
    background-repeat: no-repeat;
    background-position: 98% center;
    background-size: 0.75em
  }
  .Input-field--select:focus {
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTJweCIgaGVpZ2h0PSI3cHgiIHZpZXdCb3g9IjAgMCAxMiA3IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPHBvbHlnb24gZmlsbD0iIzIzMUYyMCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNi4wMDAwMDAsIDMuNTAwMDAwKSBzY2FsZSgxLCAtMSkgdHJhbnNsYXRlKC02LjAwMDAwMCwgLTMuNTAwMDAwKSAiIHBvaW50cz0iNiAwIDEyIDcgMCA3Ij48L3BvbHlnb24+Cjwvc3ZnPg==")
  }
  .Input-field:focus {
    border-width: .125em;
    border-color: #0a95ff;
    margin-bottom: 0
  }
  .Input-field:focus+.Input-label .Input-required {
    color: #ff4b1a
  }
  .Input-field.ng-invalid.ng-dirty {
    border-color: #ff4b1a
  }
  .Input-field.ng-invalid.ng-dirty+.Input-label {
    color: #ff4b1a
  }
  .Input-field.ng-invalid.ng-dirty+._720kb-datepicker-calendar+.Input-label {
    color: #ff4b1a
  }
  .Input-field:focus+._720kb-datepicker-calendar+.Input-label,
  .Input-field.ng-not-empty+._720kb-datepicker-calendar+.Input-label,
  .Input-field.ng-invalid.ng-dirty+._720kb-datepicker-calendar+.Input-label {
    top: auto;
    bottom: 100%;
    font-size: .85714em;
    line-height: 1.28571em
  }
  .Input-field:focus+._720kb-datepicker-calendar+.Input-label {
    color: #0a95ff
  }
  .Input-field:focus+.Input-label,
  .Input-field.ng-not-empty+.Input-label,
  .Input-field.ng-invalid.ng-not-empty+.Input-label,
  .Input-field.isActive+.Input-label {
    top: auto;
    bottom: 100%;
    font-size: .85714em;
    line-height: 1.28571em
  }
  .Input-field:focus+.Input-label {
    color: #0a95ff
  }
  .Input-field:disabled {
    border-bottom-style: dotted
  }
  .Input-field:disabled+.Input-label:after {
    content: '(Disabled)';
    padding-left: 0.5rem;
    color: #a9afae !important
  }
  .Input-label {
    position: absolute;
    top: 0;
    left: 0;
    color: #a9afae;
    pointer-events: none
  }
  .Input-label--required:after {
    content: "*";
    margin-left: .3125em;
    color: #ff4b1a
  }
  .Input-field,
  .Input-label {
    width: 100%;
    font-size: 1.14286em;
    padding: .125em .125em .1875em;
    letter-spacing: 0.02em
  }
  .Input-errorSpacer {
    float: right;
    min-height: 1.71429em;
    min-width: .07143em
  }
  .Input-error,
  .Input-desc {
    padding: .375em .125em .125em;
    font-size: .85714em;
    line-height: 1.28571em
  }
  .Input-error {
    color: #ff4b1a
  }
  .Grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
  .Grid--wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }
  .Grid--alignCenter {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
  }
  .Grid--spaceBetween {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
  }
  .u-paddingVertical-xs {
    padding-top: .5em !important;
    padding-bottom: .5em !important
  }
  .u-marginLeft-xs {
    margin-left: .5em !important
  }
  .u-marginRight-xs {
    margin-right: .5em !important
  }
  .text--14px {
    font-size: 14px !important
  }
  .date {
    z-index: 10000;
    width: 290px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    position: absolute;
    display: none;
    top: calc(100% + 10px);
    left: 0;
  }
  .date.isActive {
    display: block;
  }
  .month-container {
    background: #34e79a;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
  }
  .week-container {
    background: #EBF6FF;
    padding: 0 5px;
  }
  .month {
    color: #fff;
  }
  .week,
  .day {
    width: 2.5em;
    padding: 0.625em 0;
    text-align: center;
  }
  .day-container {
    padding: 5px;
    background: #fff;
  }
  .day {
    border-radius: 100%;
  }
  .day:hover {
    background: #fafafa;
  }
  .day.isSelected {
    background: #34e79a;
    color: #fff;
  }
  .blue--dark {
    color: #00457a;
  }
  .Btn--pointer {
    -webkit-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
    cursor: pointer
  }
}
