body {
  margin-top: 70px;
  // background: #eaeff3;
}
ol.menu-create-timeline {
  text-align: center;
  list-style: none;
  max-width: 120rem;
  width: 75%;
  margin-right: 14%;
    margin-left: auto;
}
.form-create-post {
  max-width: 65rem;
  -webkit-flex: 0 0 100%;
  margin-right: auto;
  width: 50%;
    margin-left: auto;
}
ol.menu-create-timeline li {
  display: inline-block;
  text-align: center;
  font-weight: 400;
  line-height: 4em;
  margin-bottom: 5rem;
  width: 25%;
}

ol.menu-create-timeline li:before {
  position: relative;
  font-size: 2em;
  bottom: -1.6em;
  float: left;
  left: 50%;
  line-height: 1em;
}
    ol.menu-create-timeline li.listyourplace {
      border-bottom: 4px solid #660066;
      color: #660066;
      width: 25%;
    }
    ol.menu-create-timeline li.listyourplace:before {
      content: "\f022"; /* FontAwesome Unicode */
      font-family: FontAwesome;
      color: #660066;
      background-color: #ffffff;
    }
    ol.menu-create-timeline li.listyourplacetodo {
      border-bottom: 4px solid #95a5b1;
      color: #95a5b1;
      width: 25%;
    }
    ol.menu-create-timeline li.listyourplacetodo:before {
      content: "\f015"; /* FontAwesome Unicode */
    font-family: FontAwesome;
      color: #95a5b1;
      background-color: #ffffff;
    }

    ol.menu-create-timeline li.adddetails {
      border-bottom: 4px solid #660066;
      color: #660066;
      width: 25%;
    }
    ol.menu-create-timeline li.adddetails:before {
      content: "\f022"; /* FontAwesome Unicode */
      font-family: FontAwesome;
      color: #660066;
      background-color: #ffffff;
    }
    ol.menu-create-timeline li.adddetailstodo {
      border-bottom: 4px solid #95a5b1;
      color: #95a5b1;
      width: 25%;
    }
    ol.menu-create-timeline li.adddetailstodo:before {
      content: "\f015"; /* FontAwesome Unicode */
    font-family: FontAwesome;
      color: #95a5b1;
      background-color: #ffffff;
    }

    ol.menu-create-timeline li.verifyyouraccount {
      border-bottom: 4px solid #660066;
      color: #660066;
      width: 25%;
    }
    ol.menu-create-timeline li.verifyyouraccount:before {
      content: "\f022"; /* FontAwesome Unicode */
      font-family: FontAwesome;
      color: #660066;
      background-color: #ffffff;
    }
    ol.menu-create-timeline li.verifyyouraccounttodo {
      border-bottom: 4px solid #95a5b1;
      color: #95a5b1;
      width: 25%;
    }
    ol.menu-create-timeline li.verifyyouraccounttodo:before {
      content: "\f015"; /* FontAwesome Unicode */
    font-family: FontAwesome;
      color: #95a5b1;
      background-color: #ffffff;
    }

    ol.menu-create-timeline li.sharepromote {
      border-bottom: 4px solid #660066;
      color: #660066;
      width: 25%;
    }
    ol.menu-create-timeline li.sharepromote:before {
      content: "\f022"; /* FontAwesome Unicode */
      font-family: FontAwesome;
      color: #660066;
      background-color: #ffffff;
    }
    ol.menu-create-timeline li.sharepromotetodo {
      border-bottom: 4px solid #95a5b1;
      color: #95a5b1;
      width: 25%;
    }
    ol.menu-create-timeline li.sharepromotetodo:before {
      content: "\f015"; /* FontAwesome Unicode */
    font-family: FontAwesome;
      color: #95a5b1;
      background-color: #ffffff;
    }

.mat-icon {
  font-family: 'Material Icons' !important;
}
.select-kind:hover {
  border: 1px #660066 solid;
}
.form-create-detail {
  max-width: 120rem;
  -webkit-flex: 0 0 100%;
  margin-right: auto;
  margin-left: auto;
}