<!--Footer-->
<footer class="page-footer mdb-color text-center text-md-left pt-4 mt-4">

  <!--Footer Links-->
  <div class="container">
    <div class="row">

      <!--First column-->
      <div class="col-md-3">
        <h5 class="title">Footer Content </h5>
        <p>Here you can use rows and columns here to organize your footer content.</p>
      </div>
      <!--/.First column-->

      <hr class="hidden-md-up">

      <!--Second column-->
      <div class="col-md-2 offset-md-1">
        <ul class="list-unstyled">
          <li>
            <a href="#!">Our Blog</a>
          </li>
          <li>
            <a href="#!">Our team</a>
          </li>
          <li>
            <a href="#!">Contact us</a>
          </li>
          <li>
            <a href="#!">About us</a>
          </li>
          <li>
            <a href="#!">FAQ</a>
          </li>
          <li>
            <a href="#!">Jobs</a>
          </li>
        </ul>
      </div>
      <!--/.Second column-->

      <hr class="hidden-md-up">

      <!--Third column-->
      <div class="col-md-2">
        <ul class="list-unstyled">
          <li>
            <a href="#!">Press</a>
          </li>
          <li>
            <a href="#!">Terms & Conditions</a>
          </li>
          <li>
            <a href="#!">Legal rental information</a>
          </li>
          <li>
            <a href="#!">Data security</a>
          </li>
          <li>
            <a href="#!">Cookie Policy</a>
          </li>
          <li>
            <a href="#!">University plans</a>
          </li>
        </ul>
      </div>
      <!--/.Third column-->

      <hr class="hidden-md-up">

      <!--Fourth column-->
      <div class="col-md-2">
        <ul class="list-unstyled">
          <li>
            <a href="#!">How to list a property</a>
          </li>
          <li>
            <a href="#!">How to book a place</a>
          </li>
          <li>
            <a href="#!">Sitemap</a>
          </li>
        </ul>
      </div>
      <!--/.Fourth column-->

    </div>
  </div>
  <!--/.Footer Links-->

  <hr>

  <!--Call to action-->
  <div class="call-to-action text-center py-3">
    <ul class="list-unstyled list-inline">
      <li class="list-inline-item">
        <h5>Register for free</h5>
      </li>
      <li class="list-inline-item">
        <a href="" class="btn btn-danger waves-light btn-rounded" mdbWavesEffect>Sign up!</a>
      </li>
    </ul>
  </div>
  <!--/.Call to action-->

  <hr>

  <!--Social buttons-->
  <div class="text-center mb-3">

    <a class="btn-floating btn-small btn-fb waves-light" mdbWavesEffect>
      <i class="fa fa-facebook"> </i>
    </a>
    <a class="btn-floating btn-small btn-tw waves-light" mdbWavesEffect>
      <i class="fa fa-twitter"> </i>
    </a>
    <a class="btn-floating btn-small btn-gplus waves-light" mdbWavesEffect>
      <i class="fa fa-google-plus"> </i>
    </a>
    <a class="btn-floating btn-small btn-li waves-light" mdbWavesEffect>
      <i class="fa fa-linkedin"> </i>
    </a>
    <a class="btn-floating btn-small btn-git waves-light" mdbWavesEffect>
      <i class="fa fa-github"> </i>
    </a>
    <a class="btn-floating btn-small btn-pin waves-light" mdbWavesEffect>
      <i class="fa fa-pinterest"> </i>
    </a>
    <a class="btn-floating btn-small btn-ins waves-light" mdbWavesEffect>
      <i class="fa fa-instagram"> </i>
    </a>

  </div>
  <!--/.Social buttons-->

  <!--Copyright-->
  <div class="footer-copyright text-center py-3">
    <div class="container-fluid">
      © 2018 Copyright:
      <a href="https://www.MDBootstrap.com"> JustRent </a>

    </div>
  </div>
  <!--/.Copyright-->

</footer>
<!--/.Footer-->
